#offCanvas .close-button{
    z-index: 1; /* necessary because the menu will overlap the button */
}

.off-canvas-content{
    display:flex;
    flex-flow: column;
    height:100vh;
}

.title-bar{
    flex: 0 1 auto;
}

.mindmapcontainer{
    position: relative;
    flex: 1 1 auto;    /*width: 60vw;*/
    /*height: 100vh;*/
    display: flex;
}

.hidden{
    display: none;
}

#network-popUp{
     /*now the left edge is centered*/
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
}

#network-popUp div{
    position: relative;
    left: -50%;
    top: -50%;
    background-color: yellow;
    border: 2px solid blue;
}



#mynetwork {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

@media screen and (min-width: 64em) {
    .menu-icon{
        display: none;
    }
}